################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FunkyBudget/FileContentIndex/dc56aac3-bb7c-4950-8057-a33b8d71c9ba.vsidx
/.vs/FunkyBudget/v17
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.dll
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.exe
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.pdb
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.dll
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.exe
/FunkyBudget/bin/Debug/net9.0-windows/FunkyBudget.pdb
/FunkyBudget/obj/Debug/net9.0-windows/ref/FunkyBudget.dll
/FunkyBudget/obj/Debug/net9.0-windows/refint/FunkyBudget.dll
/FunkyBudget/obj/Debug/net9.0-windows/UserControls/BudgetCalendar.g.i.cs
/FunkyBudget/obj/Debug/net9.0-windows/apphost.exe
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.AssemblyInfo.cs
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.AssemblyInfoInputs.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.assets.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.csproj.AssemblyReference.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.csproj.CoreCompileInputs.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.csproj.FileListAbsolute.txt
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.dll
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.GeneratedMSBuildEditorConfig.editorconfig
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.genruntimeconfig.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.pdb
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget.sourcelink.json
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_MarkupCompile.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_MarkupCompile.i.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_MarkupCompile.i.lref
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_MarkupCompile.lref
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.AssemblyInfo.cs
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.AssemblyInfoInputs.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.assets.cache
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.csproj.BuildWithSkipAnalyzers
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.GlobalUsings.g.cs
/FunkyBudget/obj/Debug/net9.0-windows/FunkyBudget_tmwastbi_wpftmp.sourcelink.json
/FunkyBudget/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.cs
/FunkyBudget/obj/FunkyBudget.csproj.nuget.dgspec.json
/FunkyBudget/obj/FunkyBudget.csproj.nuget.g.props
/FunkyBudget/obj/project.assets.json
/FunkyBudget/obj/project.nuget.cache
